<div class="quiz-container">

  <label class="quiz-label">Total words: <span class="bold">{{showTotalCount()}}</span></label>
  <br><br>
  <label class="quiz-label">Attempts: <span class="bold">{{showTotalAnswers()}}</span>
    | correct: <span class="correct-answer">{{showCorrectAnswers()}}</span>
    | streak: <span [ngClass]="{ 'negative-counter': showCurrentStreak() < 0, 'positive-counter': showCurrentStreak() > 0 }">
      {{showCurrentStreak()}}
    </span>
  </label>
  <br><br>
  <label class="quiz-label" *ngIf="wordToTranslate">Translate word: </label>
  <label class="word-label">{{this.wordToTranslate}}</label>
  <input id="translation" class="quiz-input" [(ngModel)]="userTranslation" (keyup.enter)="makeAnswer()" placeholder="Enter your translation and press ENTER...">

  <label class="error-label" *ngIf="userShowMessage"><span class="bold">{{userShowMessage}}</span></label>
  <select class="quiz-select" [(ngModel)]="selectedEnumCategory" (change)="filterWords()">
    <option value="" disabled>Select an option</option>
    <option *ngFor="let value of Category.values(WordCategory)" [value]="value">Words category: {{ value }}</option>
  </select>
  <select class="quiz-select" [(ngModel)]="selectedEnumType" (change)="filterWords()">
    <option value="" disabled>Select an option</option>
    <option *ngFor="let value of Type.values(WordType)" [value]="value">Words type: {{ value }}</option>
  </select>
  <div class="quiz-toggles">
    <input type="checkbox" [(ngModel)]="isRepeatWords"> Allow word repetitions
    <input type="checkbox" [(ngModel)]="isLanguageReversed" (click)="onReverseLanguage()"> Reverse language
  </div>

  <button class="quiz-button" (click)="finishAttempt()" tabindex="0">Finish</button>
</div>

<div class="history-container" *ngIf="history?.length">
  <table>
    <thead>
    <th>Total Attempts</th>
    <th>Correct</th>
    <th>Success %</th>
    <th>Time</th>
    <th>Part of speech</th>
    <th>Сategory</th>
    <th>Details</th>
    </thead>
    <tbody>
    <tr *ngFor="let attempt of history">
      <td>{{attempt.attemptsTotal}}</td>
      <td>{{attempt.correctAttempts}}</td>
      <td>{{attempt.successRate?.toFixed(2)}} %</td>
      <td>{{attempt.createdTime?.toLocaleString()}}</td>
      <td>{{attempt.wordTypes}}</td>
      <td>{{attempt.category}}</td>
      <td><button (click)="showHistoryInfo(attempt)">Info</button></td>
    </tr>
    </tbody>
  </table>
</div>
