.quiz-container {
  text-align: center;
  margin: auto;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  width: 50%;
}

.quiz-input {
  padding: 10px;
  width: 100%;
  margin: 10px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.error-label {
  color: #d9534f;
  font-weight: bold;
}

.error-container{
  flex: 1;
}

.bold {
  font-weight: bold;
}

.negative-counter {
  color: red;
}

.positive-counter {
  color: green;
}

.quiz-select {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  flex: 1;
  margin-right: 2px; /* Adjust spacing between selects */
}

.select-container {
  display: flex;
  align-items: center;
}

.quiz-button {
  background-color: deepskyblue;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.history-container {
  text-align: center;
  margin: auto;
  padding: 20px;
  background-color: rgba(240, 240, 240, 0.51);
  border-radius: 10px;
  width: 50%;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px; /* Adjust as needed */
}

th {
  background-color: #f2f2f2;
  padding: 8px;
  text-align: left;
}

tr {
  border-bottom: 1px solid #ddd;
}

td:last-child {
  text-align: center;
}

button {
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-history-info{
  background-color: #4CAF50;
}

.button-history-delete {
  background-color: red;
}

.button-history-repeat {
  background-color: deepskyblue;
}

.quiz-toggles {
  padding: 10px;
  width: 100%;
  margin: 10px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.numeric-input {
  margin-left: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.timer {
  font-weight: bold;
  color: #333;
  background-color: #eee;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}


