body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
}

.top-navbar {
  display: flex;
  justify-content: flex-end;
  background-color: skyblue;
  color: white;
  padding: 10px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.top-navbar a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 16px;
  margin-left: 15px;
  white-space: nowrap;
}

.top-navbar a:hover {
  background-color: skyblue;
  border-radius: 5px;
}

.sidebar {
  width: 250px;
  background-color: burlywood;
  color: white;
  position: fixed;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  padding-top: 20px;
}

.sidebar .logo {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}

.sidebar a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
  font-size: 16px;
  margin: 10px 0;
}

.sidebar a:hover {
  background-color: #555;
  border-radius: 5px;
}

.content {
  margin-left: 250px;
  margin-top: 50px;
  padding: 20px;
  flex-grow: 1;
}
