<div class="history-container" *ngIf="hasItems()">
  <table>
    <thead>
    <th>Total Attempts</th>
    <th>Correct</th>
    <th>Success %</th>
    <th>Time</th>
    <th>Actions</th>
    </thead>
    <tbody>
    <tr *ngFor="let attempt of history">
      <td>{{attempt.attemptsTotal}}</td>
      <td>{{attempt.correctAttempts}}</td>
      <td>{{attempt.successRate?.toFixed(2)}} %</td>
      <td>{{attempt.createdTime?.toLocaleString()}}</td>
      <td><button class="button-history-delete" (click)="onDeleteHistory(attempt.id)">X</button></td>
      <td><button class="button-history-repeat" (click)="onRepeatHistory(attempt.id)">Repeat</button></td>
    </tr>
    </tbody>
  </table>
</div>
<div class="history-container" *ngIf="!hasItems()">
  <label>No attempts history</label>
</div>
