.quiz-label {
  font-weight: bold;
  color: #333;

}

.word-label {
  font-weight: bold;
  color: red;
}

.attribute-word-tag {
  display: inline-block;
  padding: 0.2em 0.4em;
  margin: 0.2em;
  background-color: #e0f7fa;
  border: 1px solid #00acc1;
  border-radius: 10px;
  font-size: 0.9em;
  color: #007c91;
  text-align: center;
  white-space: nowrap;
}

.word-timer {
  font-weight: bold;
  color: black;
}

.word-container {
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0.5em;
  display: inline-flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 0.5em;
}
