<div class="conjugation-component">
  <div class="row">
    <input type="text" class="conjugation-input" placeholder="Yo"
           [(ngModel)]="yo" (keyup.enter)="makeAnswer()" [ngClass]="{ 'wrong-input': wrongItems[0] }">
    <input type="text" class="conjugation-input" placeholder="Tu"
           [(ngModel)]="tu" (keyup.enter)="makeAnswer()" [ngClass]="{ 'wrong-input': wrongItems[1] }">
    <input type="text" class="conjugation-input" placeholder="El/Ella"
           [(ngModel)]="el" (keyup.enter)="makeAnswer()" [ngClass]="{ 'wrong-input': wrongItems[2] }">
  </div>
  <div class="row">
    <input type="text" class="conjugation-input" placeholder="Nosotros"
           [(ngModel)]="nosotros" (keyup.enter)="makeAnswer()" [ngClass]="{ 'wrong-input': wrongItems[3] }">
    <input type="text" class="conjugation-input" placeholder="Vosotros"
           [(ngModel)]="vosotros" (keyup.enter)="makeAnswer()" [ngClass]="{ 'wrong-input': wrongItems[4] }">
    <input type="text" class="conjugation-input" placeholder="Ellos/Ellas/Ustedes"
           [(ngModel)]="ustedes" (keyup.enter)="makeAnswer()" [ngClass]="{ 'wrong-input': wrongItems[5] }">
  </div>
  <div class="error-container" *ngIf="message">
    <label class="error-label"><span class="bold">Correct answers: {{correctAnswers}}</span></label>
  </div>
</div>
