<div class="translation-container">
  <div class="word-display">
    <h2>Translate the word: </h2>
    <p>{{ getWordTitle() }}</p>
  </div>

  <div class="feedback-message">
    <p>{{ feedback }}</p>
  </div>

  <div class="input-section">
    <input
      type="text"
      *ngIf="!hardMode"
      [(ngModel)]="userInput"
      placeholder="Enter your translation"
      (keyup.enter)="checkAnswer()"
    />
    <div class="answers-section" *ngIf="hardMode">
      <div class="answers-container">
        <div *ngFor="let answer of possibleAnswers" class="answer-item">
          <button
            class="answer-btn"
            [ngClass]="{'selected': selectedFilters.has(answer)}"
            (click)="checkPossibleAnswer(answer)"
          >
            {{ answer }}
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Counters Section -->
  <div class="counters">
    <div class="counter-block">
      <h3>Current Progress</h3>
      <p>Attempts: {{ attempts }} / Correct: {{ correctCount }}</p>
      <p>Success Rate: {{ successRate | number: '1.0-0' }}%</p>
      <p>Current answers streak: {{ maxStreak }}</p>
    </div>

    <div class="counter-block">
      <h3>User statistics overall</h3>
      <p>Times played: {{ getTotalUserGamesCount() }}</p>
      <p>All time accuracy: {{ getAllTimeUserRate() | number: '1.0-0'}}%</p>
      <p>All time max streak: {{ getAllTimeMaxStreak() }}</p>
    </div>

    <div class="counter-block">
      <h3>Word statistics</h3>
      <p>Total Attempts: {{ this.currentStats?.totalAnswersCount ?? 0}}</p>
      <p>Average Success Rate: {{ this.currentStats?.successRate ?? 0 | number: '1.0-0' }}%</p>
      <p>Last time: {{ currentStats?.updatedTime | date: 'EEE MMM dd yyyy'}}</p>
    </div>

    <div class="counter-block">
      <h3>Words overview</h3>
      <p>Total words count: {{ getTotalWordsCount() }}</p>
      <p>Filtered words count: {{ getFilteredWordsCount() }}</p>
      <p>Some data</p>
    </div>
  </div>

  <!-- Game Settings Section -->
  <div class="game-settings">
    <div class="checkbox-group">
      <label>
        <input type="checkbox" [(ngModel)]="isRepetitionsAllowed" (click)="setRepetitionsToggle()" />
        Allow repetitions
      </label>
      <label>
        <input type="checkbox" [(ngModel)]="hardMode" (click)="switchMode()"/>
        Quiz mode
      </label>
      <label>
        <input type="checkbox" [(ngModel)]="conjunction" (click)="setTrainVerbs()" />
        Verbs conjunction
      </label>
      <label>
        <input type="checkbox" [(ngModel)]="reverseLanguage" (click)="onReverseLanguage()" />
        Reverse language
      </label>
    </div>
  </div>

  <!-- Filters Section -->
  <div class="filters-section">
    <div class="filters-container">
      <div *ngIf="allowedFilters.size === 0" class="no-filters">
        No filters available.
      </div>
      <div *ngFor="let filter of allowedFilters" class="filter-item">
        <button
          class="filter-btn"
          [ngClass]="{'selected': selectedFilters.has(filter)}"
          (click)="toggleFilterSelection(filter)"
        >
          {{ filter }}
        </button>
      </div>
    </div>
  </div>


  <!-- User Action Buttons Section -->
  <div class="user-actions">
    <div class="buttons-container">
      <button (click)="finishGame()" class="main-btn">Finish Game</button>
      <!-- You can add other action buttons here if necessary -->
    </div>
  </div>

</div>
